VITE_ENV=development
VITE_CLIENT_NAME=Ofluence

VITE_PORT=5555

VITE_WEBSITE_URL=http://localhost:5555

VITE_APP_URL=http://localhost:5656

VITE_API_BASE_URL=http://localhost:4646
VITE_API_PREFIX=/api/v1

VITE_ENABLE_LOGS=true

VITE_AUTH_STORAGE_KEY=a:stig
VITE_AUTH_ENCRYPTION_KEY=your-secret-key

# Posthog Configuration
VITE_POSTHOG_API_KEY=
VITE_POSTHOG_HOST=https://us.i.posthog.com
VITE_POSTHOG_DEBUG=true
VITE_POSTHOG_REVERSE_PROXY=false

# Tanstack Configuration
VITE_ENABLE_TS_ROUTER_DEVTOOLS=false
VITE_ENABLE_TS_QUERY_DEVTOOLS=false
